<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../static/css/globals.css" />
    <link rel="stylesheet" href="../static/css/index/mainstyleguide.css" />
    <link rel="stylesheet" href="../static/css/index/mainstyle.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="flow-container">
      <div class="flow-text">
          <div class="flow-wrap">Sejong's Coffee Spots</div>
          <div class="flow-wrap">Sejong's Coffee Spots</div>
          <div class="flow-wrap">Sejong's Coffee Spots</div>
          <div class="flow-wrap">Sejong's Coffee Spots</div>
      </div>
  </div>
    </div>    
    <div class="screen">
      <div class="div">
        <div class="container-centered">
          <img class="generic-content-pic" src="../static/img/main_png/generic-content-pic.png" />
          <div class="content-box">
            <div class="text">
              <div class="text-wrapper">SEJONG CAFE</div>
              <div class="text-wrapper-2">고복저수지</div>
              <div class="text-wrapper-3">에브리 선데이</div>
            </div>
            <p class="p">
              세종시에 위치하고 있는 카페입니다. 다양한 종류의 커피 및 음료와 샌드위치, 스프 등의 메뉴가 준비되어
              있습니다. 각종 야채와 치즈가 들어간 크로와상, 쫀득한 식감의 달콤한 쿠키, 부드럽고 달달한 맛이 일품인
              바닐라빈 카라멜 커피 등 다양하게 맛볼 수 있습니다. 카페 내부는 빈티지한 분위기이며 통유리 너머로 탁 트인
              고복저수지 뷰를 자랑하는 곳입니다. 또한 주차장이 구비되어 있어 방문하기에 편리한 곳입니다.
            </p>
            <button type="button" class="button" onClick="location.href='/post1'">
              <div class="button">View more</div>
            </button>
          </div>
        </div>
        <div class="generic-text">
          <div class="container">
            <div class="SOLUTIONS">INTRO</div>
            <div class="we-offer-true">세종시 카페를 소개합니다.</div>
            <div class="text-area">
              <p class="streamlining">
                세종 근교의 매력적인 카페를 소개하는 블로그에 오신 것을 환영합니다. 이 블로그는 세종시와 그 주변 지역에 위치한 다양한 카페들을 <br/> 여러분께
                소개하고, 각 카페의 특색과 분위기, 커피 맛 등을 자세히 안내해드리고자 합니다.
              </p>
            </div>
          </div>
        </div>
        <div class="overlap">
          <div class="rectangle"></div>
          <p class="div-2">
            <span class="span">우리가 추천하는 </span> <span class="text-wrapper-4">세종시 카페</span>
          </p>
        </div>
        <div class="overlap-group">
          <footer class="footer">
            <div class="div-3"></div>
            <div class="autolayout-vertical">
              <div class="border"></div>
              <div class="div-3">
                <p class="current-year-your">© 2024 dongdongju and friends. All Rights Reserved.</p>
                <div class="subnav">
                  <div class="text-wrapper-5">Privacy</div>
                  <div class="text-wrapper-5">Terms &amp; Conditions</div>
                </div>
              </div>
            </div>
          </footer>
          <div class="content-area">
            <div class="connect-with-us-for">동동주와 친구들의 <br />카페소개 블로그</div>
            <p class="stay-up-to-date-with">
              이 블로그는 세종시와 그 주변 지역에 위치한 다양한 카페들을 여러분께 소개하고, 각 카페의 특색과 분위기,
              커피 맛 등을 자세히 안내해드리고자 합니다.
            </p>
            <div class="autolayout">
              <div class="text-wrapper-6">DJ</div>
              <div class="text-wrapper-6">SB</div>
              <div class="text-wrapper-6">MS</div>
              <div class="text-wrapper-6">SY</div>
              <div class="text-wrapper-6">JW</div>
            </div>
          </div>
        </div>
        <div class="text-wrapper-7">RECOMMEND</div>
        <div class="text-wrapper-8">9월,</div>
        <div class="fullscreen-menu">
          <div class="menu-items">
            <button type="button" class="menu-button" onClick="location.href='/index'">
              <div class="menu-button">Home</div>
          </button>
          <img class="line" src="../static/img/main_png/line-6.svg" />
          
          <button type="button" class="menu-button" onClick="location.href='/story'">
              <div class="menu-button">Story</div>
          </button>
          <img class="line" src="../static/img/main_png/line-6.svg" />
          
          <button type="button" class="menu-button" onClick="location.href='/aboutwe'">
              <div class="menu-button">About We</div>
          </button>
          <img class="line" src="../static/img/main_png/line-6.svg" />
        </div>
        </div>
        <img class="sejong-cafe" src="../static/img/main_png/sejong-cafe.png" />
        <div class="headings">
          <div class="title">블로그 글 모음</div>
          <div class="spacer"><div class="text-2">24</div></div>
          <p class="paragraph">세종시 주변 카페에 대한 글을 모아보았습니다.</p>
        </div>
        <div class="cards-row">
          <div class="ecommerce-card">
            <div class="image-content"></div>
            <div class="div-wrapper"><div class="text-2">24</div></div>
            <div class="card-content">
              <div class="product-name">에브리선데이</div>
              <div class="spacer-2"></div>
              <div class="paragraph-2">세종시 조치원읍</div>
              <div class="div-wrapper"><div class="text-2">24</div></div>
              <div class="button-set">
                <button type="button" class="primary-button" onClick="location.href='/post1'">
                  <div class="button-text">자세히 보기</div>
                </button>
              </div>
            </div>
            <div class="div-wrapper"><div class="text-2">24</div></div>
          </div>
        </div>
        <div class="ecommerce-card-wrapper">
          <div class="ecommerce-card-2">
            <div class="image-content-2"></div>
            <div class="div-wrapper"><div class="text-2">24</div></div>
            <div class="card-content">
              <div class="product-name">카페 로비</div>
              <div class="spacer-2"></div>
              <div class="paragraph-2">세종시 조치원읍</div>
              <div class="div-wrapper"><div class="text-2">24</div></div>
              <div class="button-set">
                <button type="button" class="primary-button" onClick="location.href='/post2'">
                  <div class="button-text">자세히 보기</div>
                </button>
              </div>
            </div>
            <div class="div-wrapper"><div class="text-2">24</div></div>
          </div>
        </div>
        <div class="cards-row-2">
          <div class="ecommerce-card-3">
            <div class="image-content-3"></div>
            <div class="div-wrapper"><div class="text-2">24</div></div>
            <div class="card-content">
              <div class="product-name">라무즈</div>
              <div class="spacer-2"></div>
              <div class="paragraph-2">세종시 금남면</div>
              <div class="div-wrapper"><div class="text-2">24</div></div>
              <div class="button-set">
                <button type="button" class="primary-button" onClick="location.href='/post3'">
                  <div class="button-text">자세히 보기</div>
                </button>
              </div>
            </div>
            <div class="div-wrapper"><div class="text-2">24</div></div>
          </div>
        </div>
        <div class="cards-row-3">
          <div class="ecommerce-card-3">
            <div class="image-content-4"></div>
            <div class="div-wrapper"><div class="text-2">24</div></div>
            <div class="card-content">
              <div class="product-name">그리너리</div>
              <div class="spacer-2"></div>
              <div class="paragraph-2">세종시 고운동</div>
              <div class="div-wrapper"><div class="text-2">24</div></div>
              <div class="button-set">
                <button type="button" class="primary-button" onClick="location.href='/post4'">
                  <div class="button-text">자세히 보기</div>
                </button>
              </div>
            </div>
            <div class="div-wrapper"><div class="text-2">24</div></div>
          </div>
        </div>
        <div class="cards-row-4">
          <div class="ecommerce-card-3">
            <div class="image-content-5"></div>
            <div class="div-wrapper"><div class="text-2">24</div></div>
            <div class="card-content">
              <div class="product-name">카페 스톤</div>
              <div class="spacer-2"></div>
              <div class="paragraph-2">세종시 조치원읍</div>
              <div class="div-wrapper"><div class="text-2">24</div></div>
              <div class="button-set">
                <button type="button" class="primary-button" onClick="location.href='/post5'">
                  <div class="button-text">자세히 보기</div>
                </button>
              </div>
            </div>
            <div class="div-wrapper"><div class="text-2">24</div></div>
          </div>
        </div>
        <div class="cards-row-5">
          <div class="ecommerce-card-3">
            <div class="image-content-6"></div>
            <div class="div-wrapper"><div class="text-2">24</div></div>
            <div class="card-content">
              <div class="product-name">한옥 카페 헤이믈</div>
              <div class="spacer-2"></div>
              <div class="paragraph-2">세종시 고운동</div>
              <div class="div-wrapper"><div class="text-2">24</div></div>
              <div class="button-set">
                <button type="button" class="primary-button" onClick="location.href='/post6'">
                  <div class="button-text">자세히 보기</div>
                </button>
              </div>
            </div>
            <div class="div-wrapper"><div class="text-2">24</div></div>
          </div>
        </div>
        <div class="cards-row-6">
          <div class="ecommerce-card-3">
            <div class="image-content-7"></div>
            <div class="div-wrapper"><div class="text-2">24</div></div>
            <div class="card-content">
              <div class="product-name">안다미로 다움</div>
              <div class="spacer-2"></div>
              <div class="paragraph-2">세종시 금남면</div>
              <div class="div-wrapper"><div class="text-2">24</div></div>
              <div class="button-set">
                <button type="button" class="primary-button" onClick="location.href='/post7'">
                  <div class="button-text">자세히 보기</div>
                </button>
              </div>
            </div>
            <div class="div-wrapper"><div class="text-2">24</div></div>
          </div>
        </div>
        <div class="cards-row-7">
          <div class="ecommerce-card-4">
            <div class="image-content-8"></div>
            <div class="div-wrapper"><div class="text-2">24</div></div>
            <div class="card-content">
              <div class="product-name">써밋뷰</div>
              <div class="spacer-2"></div>
              <div class="paragraph-2">세종시 보람동</div>
              <div class="div-wrapper"><div class="text-2">24</div></div>
              <div class="button-set">
                <button type="button" class="primary-button" onClick="location.href='/post8'">
                  <div class="button-text">자세히 보기</div>
                </button>
              </div>
            </div>
            <div class="div-wrapper"><div class="text-2">24</div></div>
          </div>
        </div>
        <div class="group">
          <div class="overlap-group-2">
            <div class="navigation">
              <div class="logo-container">
                <div class="logo-finance">
                  <div class="shape">
                    <div class="rectangle-2"></div>
                    <div class="rectangle-3"></div>
                    <div class="rectangle-4"></div>
                  </div>
                </div>
              </div>
              <div class="navbar-menu">
                <div class="navbar-menu-item">
                  <div class="active-link">
                    <div class="navbar-menu-item">
                      <button class="menu-button" onclick="location.href='/home'">
                          <div class="text-wrapper-11">Home</div>
                      </button>
                  </div>
                  </div>
                </div>
                <div class="navbar-menu-item-2">
                  <button class="menu-button" onclick="location.href='/story'">
                      <div class="text-wrapper-12">Story</div>
                  </button>
              </div>
              <div class="careers-wrapper">
                <button class="menu-button" onclick="location.href='/about'">
                    <div class="text-wrapper-12">About</div>
                </button>
            </div>
              </div>
              <div class="buttons">
                <button class="label-wrapper" onclick="location.href='../signup'"><div class="label">Sign up</button>
                <button class="label-wrapper" onclick="location.href='/login'"><div class="label">Log in</div></button>
              </div>
            </div>
            <div class="text-wrapper-13">동동주와 친구들의 BLOG</div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
