<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../static/css/globals.css" />
    <link rel="stylesheet" href="../static/css/post1/post1style.css" />
    <link rel="stylesheet" href="../static/css/post1/post1styleguide.css" />
  </head>
  <body>
    <div class="element">
      <div class="div">
        <div class="overlap">
          <div class="overlap-group">
            <div class="overlap-2">
              <div class="generic-text">
                <div class="container">
                  <div class="SOLUTIONS">WHERE</div>
                  <p class="we-offer-true">
                    <span class="text-wrapper">조치원읍</span> <span class="span">“카페로비”</span>
                  </p>
                  <div class="text-area">
                    <p class="streamlining">
                      세종 근교의 매력적인 카페를 소개하는 블로그에 오신 것을 환영합니다. 이 블로그는 세종시와 그 주변
                      지역에 위치한 다양한 카페들을 여러분께 소개하고, 각 카페의 특색과 분위기, 커피 맛 등을 자세히
                      안내해드리고자 합니다.
                    </p>
                  </div>
                </div>
              </div>
              <img class="line" src="../static/img/post2/line-18.svg" />
            </div>
            <img class="unsplash" src="../static/img/post2/image-6.png" />
          </div>
          <div class="container-centered">
            <img class="generic-content-pic" src="../static/img/post2/image-2.png" />
          </div>
          <div class="content-box">
            <div class="text">
              <div class="text-wrapper-2">안내</div>
              <div class="text-wrapper-3">조치원읍 카페로비</div>
              <div class="text-wrapper-4">더 알아보기</div>
            </div>
          </div>
          <div class="frame"><div class="text-wrapper-5">영업시간</div></div>
          <div class="div-wrapper"><div class="text-wrapper-6">OPEN</div></div>
          <div class="text-wrapper-7">평일 12:00 ~ 00:00</div>
        </div>
        <div class="blog-post">
          <div class="container-2">
            <img class="blog-post-pic" src="../static/img/post2/image-3.png" />
            <div class="content-area">
              <p class="ideation-and">가정집을 개조한 따뜻한 분위기<br>카페 로비</p>
              <div class="text-area-2">
                <p class="we-need-to-create-a">
                  홍익대학교 세종캠퍼스 근처에 위치한 카페입니다. 다양한 커피 종류뿐만 아니라 포도주, 코젤슈패너 등과
                  같은 주류와 같이 곁들일 수 있는 다양한 베이커리들도 함께 만나 보실 수 있습니다.
                </p>
                <p class="we-need-to-embrace">
                  1층 메인 공간으로 들어가기 전에 소품들을 판매하는 곳에서는 팝업과 작은 전시회도 진행됩니다. 1층은
                  주택을 개조한 카페의 느낌을 제대로 살려 조명, 소품이 조화롭게 어우러진 공간을, 2층은 각각의 방으로
                  이루어져 있고 비치는 풍경에 따라 달라지는 각 공간의 느낌을 통해 질리지 않을 것 같은 분위기를 내고
                  있습니다.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="text-area-3">
          <p class="p">
            조치원 카페 로비의 디저트는 일상의 스트레스를 날려줄 특별한 경험을 제공합니다. 부드러운 크림과 고소한 스폰지
            케이크가 어우러진 티라미수는 커피와 환상적인 조화를 이루며, 달콤한 순간을 선사합니다. 매일 신선하게 준비된
            디저트로 여유로운 카페 타임을 만끽해 보세요.
          </p>
          <p class="p">
            카페 로비는 시즌별로 디저트가 변경됩니다. 이로 인해서 방문하는 손님들은 다양한 디저트를 시즌에 맞게 즐길 수
            있습니다. 또한 가끔 열리는 팝업 행사도 열리니 인스타그램 팔로우를 해두면 좋습니다.
          </p>
        </div>
        <p class="div-2">
          <span class="text-wrapper-8">각종 야채와 치즈가 들어간 </span>
          <span class="text-wrapper-9">크로와상, <br /></span>
          <span class="text-wrapper-8">쫀득한 식감의 달콤한 쿠키</span>
        </p>
        <img class="side-image" src="../static/img/post2/image-5.png" alt="왼쪽 이미지">
        <div class="frame-2"><div class="text-wrapper-10">유명메뉴</div></div>
        <div class="frame-3"><div class="text-wrapper-5">주소</div></div>
        <div class="frame-4"><div class="text-wrapper-5">전화번호</div></div>
        <div class="text-wrapper-11">044-868-2511</div>
        <div class="text-wrapper-12">세종 조치원읍 신안새동네길 54</div>
        <div class="flexcontainer">
          <p class="span-wrapper">
            <span class="text-wrapper-13">아메리카노<br /></span>
          </p>
          <p class="span-wrapper">
            <span class="text-wrapper-13">카페라떼<br /></span>
          </p>
          <p class="span-wrapper"><span class="text-wrapper-13">플랫 화이트</span></p>
        </div>
        <div class="flexcontainer-2">
          <p class="span-wrapper">
            <span class="text-wrapper-13">4,000원<br /></span>
          </p>
          <p class="span-wrapper">
            <span class="text-wrapper-13">4,500원<br /></span>
          </p>
          <p class="span-wrapper"><span class="text-wrapper-13">4,500원</span></p>
        </div>
        <img class="vector" src="../static/img/post2/vector-1.svg" />
        <div class="overlap-3">
          <footer class="footer">
            <div class="div-3"></div>
            <div class="autolayout-vertical">
              <div class="border"></div>
              <div class="div-3">
                <p class="current-year-your">© 2024 dongdongju and friends. All Rights Reserved.</p>
                <div class="subnav">
                  <div class="text-wrapper-14">Privacy</div>
                  <div class="text-wrapper-14">Terms &amp; Conditions</div>
                </div>
              </div>
            </div>
          </footer>
          <div class="content-area-2">
            <div class="connect-with-us-for">동동주와 친구들의 <br />카페소개 블로그</div>
            <p class="stay-up-to-date-with">
              이 블로그는 세종시와 그 주변 지역에 위치한 다양한 카페들을 여러분께 소개하고, 각 카페의 특색과 분위기,
              커피 맛 등을 자세히 안내해드리고자 합니다.
            </p>
            <div class="autolayout">
              <div class="text-wrapper-15">DJ</div>
              <div class="text-wrapper-15">SB</div>
              <div class="text-wrapper-15">MS</div>
              <div class="text-wrapper-15">SY</div>
              <div class="text-wrapper-15">JW</div>
            </div>
          </div>
        </div>
        <div class="overlap-4">
          <div class="text-2"></div>
          <div class="frame-5">
            <div class="frame-6">
              <div class="frame-7">
                <div class="frame-8">
                  <div class="image"></div>
                  <img class="img" src="../static/img/post2/image.png" />
                </div>
                <div class="frame-9">
                  <div class="frame-10"><div class="text-wrapper-16">Add a comment</div></div>
                  <div class="frame-wrapper">
                    <div class="post-wrapper"><div class="post">게시</div></div>
                  </div>
                </div>
              </div>
              <div class="frame-11"></div>
            </div>
          </div>
        </div>
        <div class="element">
          <img class="arrow-1-icon" alt="" src="../static/img/post2/arrow1.png">
        </div>
        <div class="text-wrapper-17">Comment</div>
        <div class="frame-12"><div class="text-wrapper-18">댓글 더보기</div></div>
        <img class="vector-2" src="../static/img/post2/" />
        <div class="group">
          <div class="overlap-group-2">
            <div class="navigation">
              <div class="logo-container">
                <div class="logo-finance">
                  <div class="shape">
                    <div class="rectangle"></div>
                    <div class="rectangle-2"></div>
                    <div class="rectangle-3"></div>
                  </div>
                </div>
              </div>
              <div class="navbar-menu">
                <div class="navbar-menu-item">
                  <div class="active-link">
                    <div class="text-wrapper-19">Home</div>
                    <div class="border-2"></div>
                  </div>
                </div>
                <div class="navbar-menu-item-2"><div class="text-wrapper-20">Story</div></div>
                <div class="careers-wrapper"><div class="text-wrapper-20">About We</div></div>
              </div>
              <div class="buttons">
                <div class="text-wrapper-20">Sign up</div>
                <button class="button"><div class="label">Log in</div></button>
              </div>
            </div>
            <div class="text-wrapper-21">동동주와 친구들의 BLOG</div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
