<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../static/css/globals.css" />
    <link rel="stylesheet" href="../static/css/post1/post1style.css" />
    <link rel="stylesheet" href="../static/css/post1/post1styleguide.css" />
  </head>
  <body>
    <div class="element">
      <div class="div">
        <div class="overlap">
          <div class="overlap-group">
            <div class="overlap-2">
              <div class="generic-text">
                <div class="container">
                  <div class="SOLUTIONS">WHERE</div>
                  <p class="we-offer-true">
                    <span class="text-wrapper"> 고운동 </span> <span class="span">“그리너리”</span>
                  </p>
                  <div class="text-area">
                    <p class="streamlining">
                      세종 근교의 매력적인 카페를 소개하는 블로그에 오신 것을 환영합니다. 이 블로그는 세종시와 그 주변
                      지역에 위치한 다양한 카페들을 여러분께 소개하고, 각 카페의 특색과 분위기, 커피 맛 등을 자세히
                      안내해드리고자 합니다.
                    </p>
                  </div>
                </div>
              </div>
              <img class="line" src="../static/img/post3/img-line-18.svg" />
            </div>
            <img class="unsplash" src="../static/img/post3/unsplash-pdz2bwplyis.png" />
          </div>
          <div class="container-centered"><img class="generic-content-pic" src="../static/img/post3/generic-content-pic.png" /></div>
          <div class="content-box">
            <div class="text">
              <div class="text-wrapper-2">안내</div>
              <div class="text-wrapper-3">고운동 그리너리</div>
              <div class="text-wrapper-4">더 알아보기</div>
            </div>
          </div>
          <div class="frame"><div class="text-wrapper-5">영업시간</div></div>
          <div class="div-wrapper"><div class="text-wrapper-6">OPEN</div></div>
          <div class="text-wrapper-7">매일 10:30 ~ 22:00</div>
        </div>
        <div class="blog-post">
          <div class="container-2">
            <img class="blog-post-pic" src="../static/img/post3/blog-post-pic.png" />
            <div class="content-area">
              <p class="ideation-and">취향을 저격하는<br> 웨딩카페</p>
              <div class="text-area-2">
                <p class="we-need-to-create-a">
                  햇볕이 따스한 야외 테라스와 아늑한 분위기의 소파석이 인상적이다. 2층 바깥문을 향해 나가면
                  러브라는 천이 나무에 매달려 있어, 세종시 고운동이 한눈에 내려다 보인다.
                </p>
                <p class="we-need-to-embrace">
                  깨끗하고 화려한 버진 로드로 꾸며진 공간에서 마시는 커피는 남다르다. 오감을 자극하는 분위기에 압도된다. 
                  드레스 300벌을 갖추고 일명 스드메(스튜디오, 드레스, 메이크업) 시스템을 갖춰 실제 결혼식도 진행한다.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="text-area-3">
          <p class="p">
            만약 조용히 책을 읽거나 업무를 보고 싶다면, 조용한 실내 공간을 추천드립니다. 
            자연 속에서 편안하게 집중할 수 있는 분위기가 마련되어 있어 혼자만의 시간을 즐기기에도 좋습니다.
          </p>
          <p class="p">
            또한, 세종 그리너리 카페는 사진 찍기 좋은 포토존이 많아 인스타그램 등의 SNS에 
            공유하기에도 좋습니다. 고즈넉한 자연 속에서 감성적인 사진을 남길 수 있어, 친구나 가족과 함께 특별한 시간을 보내기에 완벽한 장소입니다.
          </p>
        </div>
        <p class="div-2">
          <span class="text-wrapper-8">따뜻한 햇살을 느낄 수 있는 </span>
          <span class="text-wrapper-9">야외 테라스, <br /></span>
          <span class="text-wrapper-8">어우러지는 인테리어</span>
        </p>
        <img class="side-image" src="../static/img/post3/unsplash-7pcfuybp-p8.png" alt="왼쪽 이미지">
        <div class="frame-2"><div class="text-wrapper-10">유명메뉴</div></div>
        <div class="frame-3"><div class="text-wrapper-5">주소</div></div>
        <div class="frame-4"><div class="text-wrapper-5">전화번호</div></div>
        <div class="text-wrapper-11">044-866-2556</div>
        <div class="text-wrapper-12">장군면 월현윗길 119-39(봉안리)</div>
        <div class="flexcontainer">
          <p class="span-wrapper">
            <span class="text-wrapper-13">아메리카노<br /></span>
          </p>
          <p class="span-wrapper">
            <span class="text-wrapper-13">솔트바닐라크림<br /></span>
          </p>
          <p class="span-wrapper"><span class="text-wrapper-13">흑당커피</span></p>
        </div>
        <div class="flexcontainer-2">
          <p class="span-wrapper">
            <span class="text-wrapper-13">5,500원<br /></span>
          </p>
          <p class="span-wrapper">
            <span class="text-wrapper-13">6,500원<br /></span>
          </p>
          <p class="span-wrapper"><span class="text-wrapper-13">6,000원</span></p>
        </div>
        <img class="vector" src="../static/img/post3/vector-1.svg" />
        <div class="overlap-3">
          <footer class="footer">
            <div class="div-3"></div>
            <div class="autolayout-vertical">
              <div class="border"></div>
              <div class="div-3">
                <p class="current-year-your">© 2024 dongdongju and friends. All Rights Reserved.</p>
                <div class="subnav">
                  <div class="text-wrapper-14">Privacy</div>
                  <div class="text-wrapper-14">Terms &amp; Conditions</div>
                </div>
              </div>
            </div>
          </footer>
          <div class="content-area-2">
            <div class="connect-with-us-for">동동주와 친구들의 <br />카페소개 블로그</div>
            <p class="stay-up-to-date-with">
              이 블로그는 세종시와 그 주변 지역에 위치한 다양한 카페들을 여러분께 소개하고, 각 카페의 특색과 분위기,
              커피 맛 등을 자세히 안내해드리고자 합니다.
            </p>
            <div class="autolayout">
              <div class="text-wrapper-15">DJ</div>
              <div class="text-wrapper-15">SB</div>
              <div class="text-wrapper-15">MS</div>
              <div class="text-wrapper-15">SY</div>
              <div class="text-wrapper-15">JW</div>
            </div>
          </div>
        </div>
        <div class="overlap-4">
          <div class="text-2"></div>
          <div class="frame-5">
            <div class="frame-6">
              <div class="frame-7">
                <div class="frame-8">
                  <div class="image"></div>
                  <img class="img" src="../static/img/post3/image.png" />
                </div>
                <div class="frame-9">
                  <div class="frame-10"><div class="text-wrapper-16">Add a comment</div></div>
                  <div class="frame-wrapper">
                    <div class="post-wrapper"><div class="post">게시</div></div>
                  </div>
                </div>
              </div>
              <div class="frame-11"></div>
            </div>
          </div>
        </div>
        <div class="element">
          <img class="arrow-1-icon" alt="" src="../static/img/post1/arrow1.png">
        </div>
        <div class="text-wrapper-17">Comment</div>
        <div class="frame-12"><div class="text-wrapper-18">댓글 더보기</div></div>
        <img class="vector-2" src="../static/img/post1/" />
        <div class="group">
          <div class="overlap-group-2">
            <div class="navigation">
              <div class="logo-container">
                <div class="logo-finance">
                  <div class="shape">
                    <div class="rectangle"></div>
                    <div class="rectangle-2"></div>
                    <div class="rectangle-3"></div>
                  </div>
                </div>
              </div>
              <div class="navbar-menu">
                <div class="navbar-menu-item">
                  <div class="active-link">
                    <div class="text-wrapper-19">Home</div>
                    <div class="border-2"></div>
                  </div>
                </div>
                <div class="navbar-menu-item-2"><div class="text-wrapper-20">Story</div></div>
                <div class="careers-wrapper"><div class="text-wrapper-20">About We</div></div>
              </div>
              <div class="buttons">
                <div class="text-wrapper-20">Sign up</div>
                <button class="button"><div class="label">Log in</div></button>
              </div>
            </div>
            <div class="text-wrapper-21">동동주와 친구들의 BLOG</div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
