<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../static/css/globals.css" />
    <link rel="stylesheet" href="../static/css/post1/post1style.css" />
    <link rel="stylesheet" href="../static/css/post1/post1styleguide.css" />
  </head>
  <body>
    <div class="element">
      <div class="div">
        <div class="overlap">
          <div class="overlap-group">
            <div class="overlap-2">
              <div class="generic-text">
                <div class="container">
                  <div class="SOLUTIONS">WHERE</div>
                  <p class="we-offer-true">
                    <span class="text-wrapper"> 보람동 </span> <span class="span">“써밋뷰”</span>
                  </p>
                  <div class="text-area">
                    <p class="streamlining">
                      세종 근교의 매력적인 카페를 소개하는 블로그에 오신 것을 환영합니다. 이 블로그는 세종시와 그 주변
                      지역에 위치한 다양한 카페들을 여러분께 소개하고, 각 카페의 특색과 분위기, 커피 맛 등을 자세히
                      안내해드리고자 합니다.
                    </p>
                  </div>
                </div>
              </div>
              <img class="line" src="../static/img/post8/img-line-18.svg" />
            </div>
            <img class="unsplash" src="../static/img/post8/img-unsplash-pdz2bwplyis.png" />
          </div>
          <div class="container-centered"><img class="generic-content-pic" src="../static/img/post8/img-generic-content-pic.png" /></div>
          <div class="content-box">
            <div class="text">
              <div class="text-wrapper-2">안내</div>
              <div class="text-wrapper-3">루프탑 맛집, 써밋뷰</div>
              <div class="text-wrapper-4">더 알아보기</div>
            </div>
          </div>
          <div class="frame"><div class="text-wrapper-5">영업시간</div></div>
          <div class="div-wrapper"><div class="text-wrapper-6">OPEN</div></div>
          <div class="text-wrapper-7">매일 17:00 ~ 00:00</div>
        </div>
        <div class="blog-post">
          <div class="container-2">
            <img class="blog-post-pic" src="../static/img/post8/img-blog-post-pic.png" />
            <div class="content-area">
              <p class="ideation-and">중심부에 위치해 있어 접근성이 좋은 곳</p>
              <div class="text-area-2">
                <p class="we-need-to-create-a">
                  써밋뷰는 금강의 아름다운 경치를 한눈에 담을 수 있는 루프탑 카페입니다. 
                  넓고 여유로운 공간에서 편안히 휴식을 취하며, 탁 트인 뷰를 감상할 수 있는 이곳은 특별한 순간을 만들어 줍니다. 
                  자연의 웅장함을 느끼며 차 한 잔의 여유를 만끽해 보세요.
                </p>
                <p class="we-need-to-embrace">
                  신선한 딸기와 요거트를 사용해 만든 음료로, 상큼하고 달콤한 맛이 조화를 이룹니다. 
                  건강한 음료를 선호하시는 분들께 인기가 많습니다.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="text-area-3">
          <p class="p">
            써밋뷰의 인테리어는 모던하면서도 고급스러운 느낌을 주는 심플하고 깔끔한 디자인이 특징입니다. 
            넓은 창문을 통해 자연광이 풍부하게 들어와 실내가 밝고 쾌적한 분위기를 유지하며, 
            창 밖으로는 멋진 풍경이 펼쳐져 있어 카페 내부에서 즐기는 여유로운 시간이 더욱 특별하게 느껴집니다.
          </p>
          <p class="p">
            외부에도 테라스 좌석이 마련되어 있어, 날씨가 좋은 날에는 바깥 공기를 마시며 차를 즐길 수 있습니다. 
            이곳에서 일몰을 보며 커피를 마시는 경험은 세종시에서만 누릴 수 있는 특별한 순간이 될 것입니다.
          </p>
        </div>
        <p class="div-2">
          <span class="text-wrapper-8">자연광이 풍부하게 들어오는 </span>
          <span class="text-wrapper-9">리버뷰 <br /></span>
        </p>
        <img class="side-image" src="../static/img/post8/img-unsplash-7pcfuybp-p8.png" alt="왼쪽 이미지">
        <div class="frame-2"><div class="text-wrapper-10">유명메뉴</div></div>
        <div class="frame-3"><div class="text-wrapper-5">주소</div></div>
        <div class="frame-4"><div class="text-wrapper-5">전화번호</div></div>
        <div class="text-wrapper-11">044-865-7762</div>
        <div class="text-wrapper-12">세종 시청대로 137 1층</div>
        <div class="flexcontainer">
          <p class="span-wrapper">
            <span class="text-wrapper-13">아메리카노<br /></span>
          </p>
          <p class="span-wrapper">
            <span class="text-wrapper-13">카페라떼<br /></span>
          </p>
          <p class="span-wrapper"><span class="text-wrapper-13">딸기요거트스무디</span></p>
        </div>
        <div class="flexcontainer-2">
          <p class="span-wrapper">
            <span class="text-wrapper-13">6,000원<br /></span>
          </p>
          <p class="span-wrapper">
            <span class="text-wrapper-13">6,500원<br /></span>
          </p>
          <p class="span-wrapper"><span class="text-wrapper-13">7,000원</span></p>
        </div>
        <img class="vector" src="../static/img/post8/img-vector-1.svg" />
        <div class="overlap-3">
          <footer class="footer">
            <div class="div-3"></div>
            <div class="autolayout-vertical">
              <div class="border"></div>
              <div class="div-3">
                <p class="current-year-your">© 2024 dongdongju and friends. All Rights Reserved.</p>
                <div class="subnav">
                  <div class="text-wrapper-14">Privacy</div>
                  <div class="text-wrapper-14">Terms &amp; Conditions</div>
                </div>
              </div>
            </div>
          </footer>
          <div class="content-area-2">
            <div class="connect-with-us-for">동동주와 친구들의 <br />카페소개 블로그</div>
            <p class="stay-up-to-date-with">
              이 블로그는 세종시와 그 주변 지역에 위치한 다양한 카페들을 여러분께 소개하고, 각 카페의 특색과 분위기,
              커피 맛 등을 자세히 안내해드리고자 합니다.
            </p>
            <div class="autolayout">
              <div class="text-wrapper-15">DJ</div>
              <div class="text-wrapper-15">SB</div>
              <div class="text-wrapper-15">MS</div>
              <div class="text-wrapper-15">SY</div>
              <div class="text-wrapper-15">JW</div>
            </div>
          </div>
        </div>
        <div class="overlap-4">
          <div class="text-2"></div>
          <div class="frame-5">
            <div class="frame-6">
              <div class="frame-7">
                <div class="frame-8">
                  <div class="image"></div>
                  <img class="img" src="../static/img/post8/img-image.png" />
                </div>
                <div class="frame-9">
                  <div class="frame-10"><div class="text-wrapper-16">Add a comment</div></div>
                  <div class="frame-wrapper">
                    <div class="post-wrapper"><div class="post">게시</div></div>
                  </div>
                </div>
              </div>
              <div class="frame-11"></div>
            </div>
          </div>
        </div>
        <div class="element">
          <img class="arrow-1-icon" alt="" src="../static/img/post/arrow1.png">
        </div>
        <div class="text-wrapper-17">Comment</div>
        <div class="frame-12"><div class="text-wrapper-18">댓글 더보기</div></div>
        <img class="vector-2" src="../static/img/post1/" />
        <div class="group">
          <div class="overlap-group-2">
            <div class="navigation">
              <div class="logo-container">
                <div class="logo-finance">
                  <div class="shape">
                    <div class="rectangle"></div>
                    <div class="rectangle-2"></div>
                    <div class="rectangle-3"></div>
                  </div>
                </div>
              </div>
              <div class="navbar-menu">
                <div class="navbar-menu-item">
                  <div class="active-link">
                    <div class="text-wrapper-19">Home</div>
                    <div class="border-2"></div>
                  </div>
                </div>
                <div class="navbar-menu-item-2"><div class="text-wrapper-20">Story</div></div>
                <div class="careers-wrapper"><div class="text-wrapper-20">About We</div></div>
              </div>
              <div class="buttons">
                <div class="text-wrapper-20">Sign up</div>
                <button class="button"><div class="label">Log in</div></button>
              </div>
            </div>
            <div class="text-wrapper-21">동동주와 친구들의 BLOG</div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
