<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../static/css/globals.css" />
    <link rel="stylesheet" href="../static/css/post1/post1style.css" />
    <link rel="stylesheet" href="../static/css/post1/post1styleguide.css" />
  </head>
  <body>
    <div class="element">
      <div class="div">
        <div class="overlap">
          <div class="overlap-group">
            <div class="overlap-2">
              <div class="generic-text">
                <div class="container">
                  <div class="SOLUTIONS">WHERE</div>
                  <p class="we-offer-true">
                    <span class="text-wrapper"> 조치원읍 </span> <span class="span">“카페스톤”</span>
                  </p>
                  <div class="text-area">
                    <p class="streamlining">
                      세종 근교의 매력적인 카페를 소개하는 블로그에 오신 것을 환영합니다. 이 블로그는 세종시와 그 주변
                      지역에 위치한 다양한 카페들을 여러분께 소개하고, 각 카페의 특색과 분위기, 커피 맛 등을 자세히
                      안내해드리고자 합니다.
                    </p>
                  </div>
                </div>
              </div>
              <img class="line" src="../static/img/post5/img-line-18.svg" />
            </div>
            <img class="unsplash" src="../static/img/post5/img-unsplash-pdz2bwplyis.png" />
          </div>
          <div class="container-centered"><img class="generic-content-pic" src="../static/img/post5/img-generic-content-pic.png" /></div>
          <div class="content-box">
            <div class="text">
              <div class="text-wrapper-2">안내</div>
              <div class="text-wrapper-3">조치원읍 카페스톤</div>
              <div class="text-wrapper-4">더 알아보기</div>
            </div>
          </div>
          <div class="frame"><div class="text-wrapper-5">영업시간</div></div>
          <div class="div-wrapper"><div class="text-wrapper-6">OPEN</div></div>
          <div class="text-wrapper-7">매일 11:00 ~ 21:00</div>
        </div>
        <div class="blog-post">
          <div class="container-2">
            <img class="blog-post-pic" src="../static/img/post5/img-blog-post-pic.png" />
            <div class="content-area">
              <p class="ideation-and">한적하고 심플한 곳</p>
              <div class="text-area-2">
                <p class="we-need-to-create-a">
                  세종시 카페 스톤은 모던하고 세련된 분위기의 인테리어와 맛있는 메뉴가 돋보이는 공간으로,
                  커피 애호가들과 디저트 마니아들에게 인기가 많은 카페입니다. 세종시 중심부에 위치해 있어 
                  접근성도 뛰어나며, 다양한 연령대의 방문객이 즐겨 찾는 곳입니다.
                </p>
                <p class="we-need-to-embrace">
                  카페 스톤의 인테리어는 깔끔한 모던 스타일로, 회색톤의 콘크리트와 따뜻한 나무 소재가 조화를 이루고 있습니다. 
                  미니멀리즘을 강조한 공간은 군더더기 없이 심플하면서도 트렌디한 감각을 자랑합니다. 
                  높은 천장과 넓은 창문 덕분에 자연광이 가득 들어와, 실내 공간이 더욱 밝고 쾌적하게 느껴집니다. 
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="text-area-3">
          <p class="p">
            좌석은 편안한 소파와 다양한 크기의 테이블로 구성되어 있어, 혼자 방문해도 좋고 친구, 연인, 가족과 함께 와서 
            즐기기에도 충분한 공간을 제공합니다. 카페 곳곳에 아늑한 분위기를 연출하는 조명이 설치되어 있어, 저녁 시간대에도 
            따뜻하고 감성적인 분위기를 느낄 수 있습니다.
          </p>
          <p class="p">
            카페 스톤의 대표 메뉴인 진한 에스프레소와 부드러운 우유가 조화를 이루는 음료입니다. 
            에스프레소 특유의 깊고 진한 맛이 우유의 부드러움과 만나 부드럽고 풍부한 풍미를 만들어내며, 
            한 모금 마시는 순간 입안 가득 퍼지는 커피 향이 감싸줍니다. 
          </p>
        </div>
        <p class="div-2">
          <span class="text-wrapper-8">진한 에스프레소의 </span>
          <span class="text-wrapper-9">스톤 시그니처 라떼 <br /></span>
          <span class="text-wrapper-8">부드러운 우유크림</span>
        </p>
        <img class="side-image" src="../static/img/post5/img-unsplash-7pcfuybp-p8.png" alt="왼쪽 이미지">
        <div class="frame-2"><div class="text-wrapper-10">유명메뉴</div></div>
        <div class="frame-3"><div class="text-wrapper-5">주소</div></div>
        <div class="frame-4"><div class="text-wrapper-5">전화번호</div></div>
        <div class="text-wrapper-11">044-863-4318</div>
        <div class="text-wrapper-12">세종 연서면 도신고복로 903 카페 스톤</div>
        <div class="flexcontainer">
          <p class="span-wrapper">
            <span class="text-wrapper-13">아메리카노<br /></span>
          </p>
          <p class="span-wrapper">
            <span class="text-wrapper-13">카페라떼<br /></span>
          </p>
          <p class="span-wrapper"><span class="text-wrapper-13">라떼슈페너</span></p>
        </div>
        <div class="flexcontainer-2">
          <p class="span-wrapper">
            <span class="text-wrapper-13">5,300원<br /></span>
          </p>
          <p class="span-wrapper">
            <span class="text-wrapper-13">6,000원<br /></span>
          </p>
          <p class="span-wrapper"><span class="text-wrapper-13">6,500원</span></p>
        </div>
        <img class="vector" src="../static/img/post5/img-vector-1.svg" />
        <div class="overlap-3">
          <footer class="footer">
            <div class="div-3"></div>
            <div class="autolayout-vertical">
              <div class="border"></div>
              <div class="div-3">
                <p class="current-year-your">© 2024 dongdongju and friends. All Rights Reserved.</p>
                <div class="subnav">
                  <div class="text-wrapper-14">Privacy</div>
                  <div class="text-wrapper-14">Terms &amp; Conditions</div>
                </div>
              </div>
            </div>
          </footer>
          <div class="content-area-2">
            <div class="connect-with-us-for">동동주와 친구들의 <br />카페소개 블로그</div>
            <p class="stay-up-to-date-with">
              이 블로그는 세종시와 그 주변 지역에 위치한 다양한 카페들을 여러분께 소개하고, 각 카페의 특색과 분위기,
              커피 맛 등을 자세히 안내해드리고자 합니다.
            </p>
            <div class="autolayout">
              <div class="text-wrapper-15">DJ</div>
              <div class="text-wrapper-15">SB</div>
              <div class="text-wrapper-15">MS</div>
              <div class="text-wrapper-15">SY</div>
              <div class="text-wrapper-15">JW</div>
            </div>
          </div>
        </div>
        <div class="overlap-4">
          <div class="text-2"></div>
          <div class="frame-5">
            <div class="frame-6">
              <div class="frame-7">
                <div class="frame-8">
                  <div class="image"></div>
                  <img class="img" src="../static/img/post5/img-image.png" />
                </div>
                <div class="frame-9">
                  <div class="frame-10"><div class="text-wrapper-16">Add a comment</div></div>
                  <div class="frame-wrapper">
                    <div class="post-wrapper"><div class="post">게시</div></div>
                  </div>
                </div>
              </div>
              <div class="frame-11"></div>
            </div>
          </div>
        </div>
        <div class="element">
          <img class="arrow-1-icon" alt="" src="../static/img/post/arrow1.png">
        </div>
        <div class="text-wrapper-17">Comment</div>
        <div class="frame-12"><div class="text-wrapper-18">댓글 더보기</div></div>
        <img class="vector-2" src="../static/img/post1/" />
        <div class="group">
          <div class="overlap-group-2">
            <div class="navigation">
              <div class="logo-container">
                <div class="logo-finance">
                  <div class="shape">
                    <div class="rectangle"></div>
                    <div class="rectangle-2"></div>
                    <div class="rectangle-3"></div>
                  </div>
                </div>
              </div>
              <div class="navbar-menu">
                <div class="navbar-menu-item">
                  <div class="active-link">
                    <div class="text-wrapper-19">Home</div>
                    <div class="border-2"></div>
                  </div>
                </div>
                <div class="navbar-menu-item-2"><div class="text-wrapper-20">Story</div></div>
                <div class="careers-wrapper"><div class="text-wrapper-20">About We</div></div>
              </div>
              <div class="buttons">
                <div class="text-wrapper-20">Sign up</div>
                <button class="button"><div class="label">Log in</div></button>
              </div>
            </div>
            <div class="text-wrapper-21">동동주와 친구들의 BLOG</div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
