<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../static/css/globals.css" />
    <link rel="stylesheet" href="../static/css/post1/post1style.css" />
    <link rel="stylesheet" href="../static/css/post1/post1styleguide.css" />
  </head>
  <body>
    <div class="element">
      <div class="div">
        <div class="overlap">
          <div class="overlap-group">
            <div class="overlap-2">
              <div class="generic-text">
                <div class="container">
                  <div class="SOLUTIONS">WHERE</div>
                  <p class="we-offer-true">
                    <span class="text-wrapper">고복저수지 </span> <span class="span">“에브리선데이”</span>
                  </p>
                  <div class="text-area">
                    <p class="streamlining">
                      세종 근교의 매력적인 카페를 소개하는 블로그에 오신 것을 환영합니다. 이 블로그는 세종시와 그 주변
                      지역에 위치한 다양한 카페들을 여러분께 소개하고, 각 카페의 특색과 분위기, 커피 맛 등을 자세히
                      안내해드리고자 합니다.
                    </p>
                  </div>
                </div>
              </div>
              <img class="line" src="../static/img/post1/img-line-18.svg" />
            </div>
            <img class="unsplash" src="../static/img/post1/img-unsplash-7pcfuybp-p8.png" />
          </div>
          <div class="container-centered"><img class="generic-content-pic" src="../static/img/post1/img-generic-content-pic.png" /></div>
          <div class="content-box">
            <div class="text">
              <div class="text-wrapper-2">안내</div>
              <div class="text-wrapper-3">고복저수지 에브리선데이</div>
              <div class="text-wrapper-4">더 알아보기</div>
            </div>
          </div>
          <div class="frame"><div class="text-wrapper-5">영업시간</div></div>
          <div class="div-wrapper"><div class="text-wrapper-6">OPEN</div></div>
          <div class="text-wrapper-7">매일 10:00 ~ 22:00</div>
        </div>
        <div class="blog-post">
          <div class="container-2">
            <img class="blog-post-pic" src="../static/img/post1/img-generic-content-pic.png" />
            <div class="content-area">
              <p class="ideation-and">통유리 너머로 탁 트인<br> 고복저수지 뷰</p>
              <div class="text-area-2">
                <p class="we-need-to-create-a">
                  세종시에 위치하고 있는 카페입니다. 다양한 종류의 커피 및 음료와 샌드위치, 스프 등의 메뉴가 준비되어
                  있습니다. 각종 야채와 치즈가 들어간 크로와상, 쫀득한 식감의 달콤한 쿠키
                </p>
                <p class="we-need-to-embrace">
                  부드럽고 달달한 맛이 일품인 바닐라빈 카라멜 커피 등 다양하게 맛볼 수 있습니다. 카페 내부는 빈티지한
                  분위기이며 통유리 너머로 탁 트인 고복저수지 뷰를 자랑하는 곳입니다. 또한 주차장이 구비되어 있어
                  방문하기에 편리한 곳입니다.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="text-area-3">
          <p class="p">
            편안한 분위기와 감각적인 인테리어로 유명한 공간입니다. 이름처럼 일요일의 여유로움을 담은 이곳은, 창가에
            따뜻한 햇살이 드리우는 창가가 특히 인기 있는 자리입니다. 카페 내부는 미니멀하면서도 아늑한 분위기로,
            친구들과 대화하거나 책을 읽기에 최적의 장소입니다.
          </p>
          <p class="p">
            다양한 커피 메뉴와 함께, 직접 만든 디저트가 특히 맛있어서 입소문이 자자합니다. 시즌마다 바뀌는 특별 메뉴도
            인기가 많고, 각종 음료가 깔끔하고 정성이 느껴지지요. 에브리선데이는 혼자 찾아가도 부담 없이 시간을 보내기
            좋은 카페로, 차분한 음악이 흘러나오는 점도 매력적이랍니다.
          </p>
        </div>
        <p class="div-2">
          <span class="text-wrapper-8">각종 야채와 치즈가 들어간 </span>
          <span class="text-wrapper-9">크로와상, <br /></span>
          <span class="text-wrapper-8">쫀득한 식감의 달콤한 쿠키</span>
        </p>
        <img class="side-image" src="../static/img/post1/img-unsplash-pdz2bwplyis.png" alt="왼쪽 이미지">
        <div class="frame-2"><div class="text-wrapper-10">유명메뉴</div></div>
        <div class="frame-3"><div class="text-wrapper-5">주소</div></div>
        <div class="frame-4"><div class="text-wrapper-5">전화번호</div></div>
        <div class="text-wrapper-11">044-868-2511</div>
        <div class="text-wrapper-12">세종특별자치 연서면 안산길 76</div>
        <div class="flexcontainer">
          <p class="span-wrapper">
            <span class="text-wrapper-13">아메리카노<br /></span>
          </p>
          <p class="span-wrapper">
            <span class="text-wrapper-13">카페라떼<br /></span>
          </p>
          <p class="span-wrapper"><span class="text-wrapper-13">카푸치노</span></p>
        </div>
        <div class="flexcontainer-2">
          <p class="span-wrapper">
            <span class="text-wrapper-13">5,500원<br /></span>
          </p>
          <p class="span-wrapper">
            <span class="text-wrapper-13">6,000원<br /></span>
          </p>
          <p class="span-wrapper"><span class="text-wrapper-13">6,000원</span></p>
        </div>
        <img class="vector" src="../static/img/post1/img-vector-1.svg" />
        <div class="overlap-3">
          <footer class="footer">
            <div class="div-3"></div>
            <div class="autolayout-vertical">
              <div class="border"></div>
              <div class="div-3">
                <p class="current-year-your">© 2024 dongdongju and friends. All Rights Reserved.</p>
                <div class="subnav">
                  <div class="text-wrapper-14">Privacy</div>
                  <div class="text-wrapper-14">Terms &amp; Conditions</div>
                </div>
              </div>
            </div>
          </footer>
          <div class="content-area-2">
            <div class="connect-with-us-for">동동주와 친구들의 <br />카페소개 블로그</div>
            <p class="stay-up-to-date-with">
              이 블로그는 세종시와 그 주변 지역에 위치한 다양한 카페들을 여러분께 소개하고, 각 카페의 특색과 분위기,
              커피 맛 등을 자세히 안내해드리고자 합니다.
            </p>
            <div class="autolayout">
              <div class="text-wrapper-15">DJ</div>
              <div class="text-wrapper-15">SB</div>
              <div class="text-wrapper-15">MS</div>
              <div class="text-wrapper-15">SY</div>
              <div class="text-wrapper-15">JW</div>
            </div>
          </div>
        </div>
        <div class="overlap-4">
          <div class="text-2"></div>
          <div class="frame-5">
            <div class="frame-6">
              <div class="frame-7">
                <div class="frame-8">
                  <div class="image"></div>
                  <img class="img" src="../static/img/post1/img-image.png" />
                </div>
                <div class="frame-9">
                  <div class="frame-10"><div class="text-wrapper-16">Add a comment</div></div>
                  <div class="frame-wrapper">
                    <div class="post-wrapper"><div class="post">게시</div></div>
                  </div>
                </div>
              </div>
              <div class="frame-11"></div>
            </div>
          </div>
        </div>
        <div class="element">
          <img class="arrow-1-icon" alt="" src="../static/img/post1/arrow1.png">
        </div>
        <div class="text-wrapper-17">Comment</div>
        <div class="frame-12"><div class="text-wrapper-18">댓글 더보기</div></div>
        <img class="vector-2" src="../static/img/post1/" />
        <div class="group">
          <div class="overlap-group-2">
            <div class="navigation">
              <div class="logo-container">
                <div class="logo-finance">
                  <div class="shape">
                    <div class="rectangle"></div>
                    <div class="rectangle-2"></div>
                    <div class="rectangle-3"></div>
                  </div>
                </div>
              </div>
              <div class="navbar-menu">
                <div class="navbar-menu-item">
                  <div class="active-link">
                    <div class="text-wrapper-19">Home</div>
                    <div class="border-2"></div>
                  </div>
                </div>
                <div class="navbar-menu-item-2"><div class="text-wrapper-20">Story</div></div>
                <div class="careers-wrapper"><div class="text-wrapper-20">About We</div></div>
              </div>
              <div class="buttons">
                <div class="text-wrapper-20">Sign up</div>
                <button class="button"><div class="label">Log in</div></button>
              </div>
            </div>
            <div class="text-wrapper-21">동동주와 친구들의 BLOG</div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
